.rounded {
  font-size: 1.3rem;
  color: #fa0b0b;
  border-radius: 15px;
  letter-spacing: -0.25px;
  min-width: 108px;
  outline: none;
  border: none;
  padding: 4px 12px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--white-color);
}

.rectangle {
  min-width: 180px;
  font-size: 1.4rem;
  color: var(--black-color);
  padding: 11px 20px;
  border: 2px solid var(--black-color);
  border-radius: 4px;
  display: inline-block;
  font-family: PN;
  transition: linear 0.12s;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: var(--black-color);
  }

  &:hover .text {
    right: 100%;
  }

  &:hover .icon {
    width: 100%;
    border-left: 0;
    color: var(--white-color);
    padding-left: 0;
  }
}

.text {
  position: relative;
  text-align: left;
  transition: right 0.3s ease;
  right: 0;
  display: block;
}

.icon {
  width: 60px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border-left: 1px solid var(--black-color);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
